<head>
    <meta charset="utf-8">

    <!-- include bootstrap -->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><img src="../assets/emFund-logo2.png" alt="emFund"> Helping you through disasters</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h3>
                        Your friend FRIENDNAME has asked for your support! They
                        have been caught in a disaster and need some emergency
                        funds. (SUBRUB, STATE - DISASTER).
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <img src="../assets/Paymentsform.png" alt="pay form">
                </div>
            </div>
        </div>
    </body>
</html>
