<head>
    <meta charset="utf-8">

    <!-- include bootstrap -->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><img src="assets/emFund-logo2.png" alt="emFund"> Helping you through disasters</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>
                        We noticed that some of your recent transactions were made
                        inside of a disaster region (SUBURB, STATE - DISASTER.
                    </h3>
                </div>
                <div class="col-lg-2">
                    <img src="assets/DrouinMap1.png" height=400 width=400>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-5">
                    <h2 style="font-size: 200%;">Are you ok?</h2>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-lg-2">
                     <img src="assets/yesbutton.png" class="img-rounded"
                     alt="OK button" width="200" height="200"> 
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <h3>
                        I am ok, let my social network know that I am safe and
                        don't need help.
                    </h3>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-lg-2">
                    <a href="needhelp.html">
                     <img src="assets/yesbutton.png" class="img-rounded"
                     alt="OK button" width="200" height="200">
                    </a>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <h3>
                        I am ok, but I would like my social network to help me
                        out.
                    </h3>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-lg-2">
                     <img src="assets/nobutton.png" class="img-rounded"
                     alt="OK button" width="200" height="200"> 
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <h3>
                        I am not ok, I really need help.
                    </h3>
                </div>
            </div>
        </div>
    </body>
</html>
