<head>
    <meta charset="utf-8">

    <!-- include bootstrap -->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><img src="assets/emFund-logo2.png" alt="emFund"> Helping you through disasters</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>
                        We're going to create a small funding page for you to
                        send to your friend networks, but we need to ask you a
                        few short questions.
                    </h3>
                    <em>
                    <form class="form-group">

                        <label for="bankselect">Select an account you would like
                            funds to go to</label>
                        <select class="form-control" id="bankselect">
                            {%for item in accounts%}
                                <option>{{item}}</option>
                            {%endfor%}
                        </select>

                        <label for="textarea">
                            What would you like to tell your friends?
                        </label>
                        <textarea class="form-control" rows=3
                                  id="textarea"></textarea>

                        <label for="media">Where would you like to post?</label>
                        <div class="checkbox">
                            <label><input type="checkbox"
                                          value="">Facebook</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Twitter</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">LinkedIn</label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
 
