<head>
    <meta charset="utf-8">

    <!-- include bootstrap -->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><img src="assets/emFund-logo2.png" alt="emFund"> Helping you through disasters</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h3>
                        We're going to create a small funding page for you to
                        send to your friend networks, but we need to ask you a
                        few short questions.
                    </h3>

                    <form class="form-group">
                        <label for="sel1">Select an account you would like
                            funds to go to</label>
                        <select class="form-control" id="sel1">
                            {%for item in accounts%}
                                <option>{{item}}</option>
                            {%endfor%}

                        </select>

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
 
